body {
  background-color: #671eba;
}
header {
  text-align: center;
  padding-bottom: 1em;
}
a:link {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}
a:hover {
  text-decoration: underline;
}
.links {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  background-color: rgb(63, 86, 155);
}
.link1 {
  border: 2px solid black;
  padding: 2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.link2 {
  border: 2px solid black;
  padding: 2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.link3 {
  border: 2px solid black;
  padding: 2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 1rem;
}
.info {
  border: 2px solid rgb(38, 9, 66);
  width: 40%;
  height: 40%;
  font-size: 3em;
  flex-wrap: wrap;
  padding: 0.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.quote {
  text-align: center;
  border: 2px solid rgb(38, 9, 66);
  font-size: 2em;
  font-family: cursive;
  width: 40%;
}

footer {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  background-color: lightgray;
}
.bar {
  border: 5px solid black;
  margin: 10px;
}
